@import url('https://fonts.cdnfonts.com/css/aux-dotbitc');
@import url('https://fonts.cdnfonts.com/css/beautiful-flaws');

body{
    background-color: black;
    color: white;
   font-family: monospace;
                                                
}